<a href="https://colab.research.google.com/github/Aribaldi/Mlinreg/blob/master/LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download

In [ ]:
START_YEAR = 2020
START_MONTH = 1
END_YEAR = 2020
END_MONTH = 3

In [ ]:
!wget https://gist.githubusercontent.com/dankiy/9a6587f4b6e69195515ae376df7dce4e/raw/609ca582dc34e131cfa27fb26c4eaa2b20bf5fd7/downloader.sh

--2020-11-09 13:41:05--  https://gist.githubusercontent.com/dankiy/9a6587f4b6e69195515ae376df7dce4e/raw/609ca582dc34e131cfa27fb26c4eaa2b20bf5fd7/downloader.sh
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6637 (6.5K) [text/plain]
Saving to: ‘downloader.sh’

downloader.sh       100%[===================>]   6.48K  --.-KB/s    in 0s

2020-11-09 13:41:06 (65.2 MB/s) - ‘downloader.sh’ saved [6637/6637]

In [ ]:
import os

In [ ]:
if not os.path.exists('/content/data/'):
    os.makedirs('/content/data/')

!sh downloader.sh {START_MONTH} {START_YEAR} {END_MONTH} {END_YEAR}

-----Downloading data for 2020-----
-----month 1-----
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5591  100   200  100  5391      9    261  0:00:22  0:00:20  0:00:02    53
Received <head><title>Object moved</title></head>
<body><h1>Object Moved</h1>This object may be found <a HREF="https://transtats.bts.gov/ftproot/TranStatsData/76459750_T_ONTIME_REPORTING.zip">here</a>.</body>
https://transtats.bts.gov/ftproot/TranStatsData/76459750_T_ONTIME_REPORTING.zip
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 16.6M  100 16.6M    0     0   589k      0  0:00:29  0:00:29 --:--:--  656k
-----2020 1 download complete-----
-----Unzipping-----
Archive:  20201.zip
  inflating: 76459750_T_ONTIME_REPORTING.csv
-----Removing old .zip file-----
-----done-----
-----Cleaning data-----
-----done-----
-----Data checking-----
header is ...
YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
2020,1,1,3,WN,N951WN,5888,ONT,SFO,1810,1851,41.00,44.00,4.00,1945,2053,68.00,0.00,,0.00,95.00,122.00,74.00,363.00,8.00,0.00,27.00,0.00,33.00
2020,1,1,3,WN,N467WN,6276,ONT,SFO,1150,1146,-4.00,13.00,8.00,1320,1318,-2.00,0.00,,0.00,90.00,92.00,71.00,363.00,,,,,
2020,1,1,3,WN,N7885A,4598,ONT,SJC,2020,2016,-4.00,8.00,3.00,2130,2124,-6.00,0.00,,0.00,70.00,68.00,57.00,333.00,,,,,
2020,1,1,3,WN,N551WN,4761,ONT,SJC,1340,1350,10.00,10.00,2.00,1455,1505,10.00,0.00,,0.00,75.00,75.00,63.00,333.00,,,,,
2020,1,1,3,WN,N968WN,5162,ONT,SJC,0915,0916,1.00,6.00,4.00,1035,1023,-12.00,0.00,,0.00,80.00,67.00,57.00,333.00,,,,,
2020,1,1,3,WN,N7856A,5684,ONT,SJC,0600,0602,2.00,17.00,6.00,0715,0722,7.00,0.00,,0.00,75.00,80.00,57.00,333.00,,,,,
2020,1,1,3,WN,N7735A,6152,ONT,SJC,1620,1624,4.00,6.00,4.00,1740,1736,-4.00,0.00,,0.00,80.00,72.00,62.00,333.00,,,,,
2020,1,1,3,WN,N405WN,1679,ONT,SMF,1505,1604,59.00,5.00,2.00,1630,1717,47.00,0.00,,0.00,85.00,73.00,66.00,390.00,0.00,0.00,0.00,7.00,40.00
2020,1,1,3,WN,N489WN,3479,ONT,SMF,1230,1225,-5.00,8.00,19.00,1355,1405,10.00,0.00,,0.00,85.00,100.00,73.00,390.00,,,,,
should be 29 fields, there are:
29
The number of observations are...
607347 20201.csv
-----checking done-----
-----month 2-----
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5591  100   200  100  5391      9    264  0:00:22  0:00:20  0:00:02    47
Received <head><title>Object moved</title></head>
<body><h1>Object Moved</h1>This object may be found <a HREF="https://transtats.bts.gov/ftproot/TranStatsData/76459920_T_ONTIME_REPORTING.zip">here</a>.</body>
https://transtats.bts.gov/ftproot/TranStatsData/76459920_T_ONTIME_REPORTING.zip
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 16.6M  100 16.6M    0     0   613k      0  0:00:27  0:00:27 --:--:--  662k
-----2020 2 download complete-----
-----Unzipping-----
Archive:  20202.zip
  inflating: 76459920_T_ONTIME_REPORTING.csv
-----Removing old .zip file-----
-----done-----
-----Cleaning data-----
-----done-----
-----Data checking-----
header is ...
YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
2020,1,1,3,WN,N951WN,5888,ONT,SFO,1810,1851,41.00,44.00,4.00,1945,2053,68.00,0.00,,0.00,95.00,122.00,74.00,363.00,8.00,0.00,27.00,0.00,33.00
2020,1,1,3,WN,N467WN,6276,ONT,SFO,1150,1146,-4.00,13.00,8.00,1320,1318,-2.00,0.00,,0.00,90.00,92.00,71.00,363.00,,,,,
2020,1,1,3,WN,N7885A,4598,ONT,SJC,2020,2016,-4.00,8.00,3.00,2130,2124,-6.00,0.00,,0.00,70.00,68.00,57.00,333.00,,,,,
2020,1,1,3,WN,N551WN,4761,ONT,SJC,1340,1350,10.00,10.00,2.00,1455,1505,10.00,0.00,,0.00,75.00,75.00,63.00,333.00,,,,,
2020,1,1,3,WN,N968WN,5162,ONT,SJC,0915,0916,1.00,6.00,4.00,1035,1023,-12.00,0.00,,0.00,80.00,67.00,57.00,333.00,,,,,
2020,1,1,3,WN,N7856A,5684,ONT,SJC,0600,0602,2.00,17.00,6.00,0715,0722,7.00,0.00,,0.00,75.00,80.00,57.00,333.00,,,,,
2020,1,1,3,WN,N7735A,6152,ONT,SJC,1620,1624,4.00,6.00,4.00,1740,1736,-4.00,0.00,,0.00,80.00,72.00,62.00,333.00,,,,,
2020,1,1,3,WN,N405WN,1679,ONT,SMF,1505,1604,59.00,5.00,2.00,1630,1717,47.00,0.00,,0.00,85.00,73.00,66.00,390.00,0.00,0.00,0.00,7.00,40.00
2020,1,1,3,WN,N489WN,3479,ONT,SMF,1230,1225,-5.00,8.00,19.00,1355,1405,10.00,0.00,,0.00,85.00,100.00,73.00,390.00,,,,,
should be 29 fields, there are:
29
The number of observations are...
607347 20202.csv
-----checking done-----
-----month 3-----
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5591  100   200  100  5391     10    288  0:00:20  0:00:18  0:00:02    56
Received <head><title>Object moved</title></head>
<body><h1>Object Moved</h1>This object may be found <a HREF="https://transtats.bts.gov/ftproot/TranStatsData/76460108_T_ONTIME_REPORTING.zip">here</a>.</body>
https://transtats.bts.gov/ftproot/TranStatsData/76460108_T_ONTIME_REPORTING.zip
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 16.6M  100 16.6M    0     0   485k      0  0:00:35  0:00:35 --:--:--  625k
-----2020 3 download complete-----
-----Unzipping-----
Archive:  20203.zip
  inflating: 76460108_T_ONTIME_REPORTING.csv
-----Removing old .zip file-----
-----done-----
-----Cleaning data-----
-----done-----
-----Data checking-----
header is ...
YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
2020,1,1,3,WN,N951WN,5888,ONT,SFO,1810,1851,41.00,44.00,4.00,1945,2053,68.00,0.00,,0.00,95.00,122.00,74.00,363.00,8.00,0.00,27.00,0.00,33.00
2020,1,1,3,WN,N467WN,6276,ONT,SFO,1150,1146,-4.00,13.00,8.00,1320,1318,-2.00,0.00,,0.00,90.00,92.00,71.00,363.00,,,,,
2020,1,1,3,WN,N7885A,4598,ONT,SJC,2020,2016,-4.00,8.00,3.00,2130,2124,-6.00,0.00,,0.00,70.00,68.00,57.00,333.00,,,,,
2020,1,1,3,WN,N551WN,4761,ONT,SJC,1340,1350,10.00,10.00,2.00,1455,1505,10.00,0.00,,0.00,75.00,75.00,63.00,333.00,,,,,
2020,1,1,3,WN,N968WN,5162,ONT,SJC,0915,0916,1.00,6.00,4.00,1035,1023,-12.00,0.00,,0.00,80.00,67.00,57.00,333.00,,,,,
2020,1,1,3,WN,N7856A,5684,ONT,SJC,0600,0602,2.00,17.00,6.00,0715,0722,7.00,0.00,,0.00,75.00,80.00,57.00,333.00,,,,,
2020,1,1,3,WN,N7735A,6152,ONT,SJC,1620,1624,4.00,6.00,4.00,1740,1736,-4.00,0.00,,0.00,80.00,72.00,62.00,333.00,,,,,
2020,1,1,3,WN,N405WN,1679,ONT,SMF,1505,1604,59.00,5.00,2.00,1630,1717,47.00,0.00,,0.00,85.00,73.00,66.00,390.00,0.00,0.00,0.00,7.00,40.00
2020,1,1,3,WN,N489WN,3479,ONT,SMF,1230,1225,-5.00,8.00,19.00,1355,1405,10.00,0.00,,0.00,85.00,100.00,73.00,390.00,,,,,
should be 29 fields, there are:
29
The number of observations are...
607347 20203.csv
-----checking done-----
-----Total observations-----
   607347 20201.csv
   607347 20202.csv
   607347 20203.csv
  1822041 total

Preprocess

In [ ]:
columns = {
    'YEAR' : 'Year', 
    'MONTH' : 'Month', 
    'DAY_OF_MONTH' : 'DayofMonth', 
    'DAY_OF_WEEK' : 'DayOfWeek', 
    'DEP_TIME' : 'DepTime', 
    'CRS_DEP_TIME' : 'CRSDepTime',
    'ARR_TIME' : 'ArrTime',
    'CRS_ARR_TIME' : 'CRSArrTime',
    'OP_UNIQUE_CARRIER' : 'UniqueCarrier',
    'OP_CARRIER_FL_NUM' : 'FlightNum', 
    'TAIL_NUM' : 'TailNum', 
    'ACTUAL_ELAPSED_TIME' : 'ActualElapsedTime', 
    'CRS_ELAPSED_TIME' : 'CRSElapsedTime', 
    'AIR_TIME' : 'AirTime',
    'ARR_DELAY' : 'ArrDelay',
    'DEP_DELAY' : 'DepDelay',
    'ORIGIN' : 'Origin', 
    'DEST' : 'Dest', 
    'DISTANCE' : 'Distance',
    'TAXI_IN' : 'TaxiIn',
    'TAXI_OUT' : 'TaxiOut', 
    'CANCELLED' : 'Cancelled', 
    'CANCELLATION_CODE' : 'CancellationCode', 
    'DIVERTED' : 'Diverted',
    'CARRIER_DELAY' : 'CarrierDelay', 
    'WEATHER_DELAY' : 'WeatherDelay', 
    'NAS_DELAY' : 'NASDelay', 
    'SECURITY_DELAY' : 'SecurityDelay',
    'LATE_AIRCRAFT_DELAY' : 'LateAircraftDelay'
}

In [ ]:
import pandas as pd
import glob

In [ ]:
extension = 'csv'
os.chdir('data')
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
combined_csv.rename(columns=columns, inplace=True)
combined_csv = combined_csv[list(columns.values())]
combined_csv.to_csv('raw.csv', index=False, encoding='utf-8-sig')
os.chdir('../')

In [ ]:
df = pd.read_csv('data/raw.csv')

In [ ]:
df

         Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0        2020      1           1  ...      27.0            0.0               33.0
1        2020      1           1  ...       NaN            NaN                NaN
2        2020      1           1  ...       NaN            NaN                NaN
3        2020      1           1  ...       NaN            NaN                NaN
4        2020      1           1  ...       NaN            NaN                NaN
...       ...    ...         ...  ...       ...            ...                ...
1822033  2020      1          18  ...       NaN            NaN                NaN
1822034  2020      1          19  ...       NaN            NaN                NaN
1822035  2020      1          20  ...       NaN            NaN                NaN
1822036  2020      1          21  ...       NaN            NaN                NaN
1822037  2020      1          22  ...       NaN            NaN                NaN

[1822038 rows x 29 columns]

EDA

In [ ]:
#TODO

Select features and split data

In [ ]:
RANDOM_STATE = 0
TRAIN_NUM_SAMPLES = 1000
TEST_NUM_SAMPLES = 200

In [ ]:
df = pd.read_csv('data/raw.csv')

In [ ]:
features = ['Month', 'DayOfWeek', 'Distance']
target = 'DepDelay'

In [ ]:
train = df[[*features, target]].dropna().sample(TRAIN_NUM_SAMPLES, random_state=RANDOM_STATE)
test = df[~df.index.isin(train.index)][[*features, target]].dropna().sample(TEST_NUM_SAMPLES, random_state=RANDOM_STATE)

In [ ]:
test

         Month  DayOfWeek  Distance  DepDelay
1782732      1          7     588.0      -7.0
338451       1          4     728.0     -14.0
1716114      1          7     696.0      15.0
67878        1          1     957.0      -8.0
831416       1          3     606.0       0.0
...        ...        ...       ...       ...
949482       1          4     899.0     102.0
168692       1          2     224.0      -4.0
193358       1          3     177.0     -10.0
50465        1          1    1050.0       0.0
1497398      1          4     867.0     -11.0

[200 rows x 4 columns]

In [ ]:
train.to_csv('data/train.csv', index=False)
test.to_csv('data/test.csv', index=False)

Initialize model

In [ ]:
MODEL_KWARGS = {
    'loss' : 'squared_loss',
    'penalty' : 'l2',
    'alpha' : 0.0001
}

In [ ]:
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
reg = SGDRegressor(**MODEL_KWARGS)

Initialize metrics

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error

Cross Validation

In [ ]:
train = pd.read_csv('data/train.csv')

x_train = train[features].to_numpy()
y_train = train[target].to_numpy()

x_train = scaler.fit_transform(x_train)

In [ ]:
from sklearn.model_selection import KFold

In [ ]:
k_fold = KFold(5)

results = pd.DataFrame(columns=['alpha', 'MSE', 'R2'])
for _, (train_idx, val_idx) in enumerate(k_fold.split(x_train, y_train)):
    reg.fit(x_train[train_idx], y_train[train_idx])
    y_pred = reg.predict(x_train[val_idx])
    r2 = r2_score(y_true=y_train[val_idx], y_pred=y_pred)
    mse = mean_squared_error(y_true=y_train[val_idx], y_pred=y_pred)
    results = results.append({'alpha' : MODEL_KWARGS['alpha'], 'MSE' : mse, 'R2' : r2}, ignore_index=True)

In [ ]:
results

    alpha          MSE        R2
0  0.0001  2151.073502 -0.004225
1  0.0001   898.730871 -0.008088
2  0.0001   861.633683 -0.001946
3  0.0001   675.671629 -0.011821
4  0.0001  1092.404106 -0.004232

In [ ]:
results[['MSE', 'R2']].describe()

               MSE        R2
count     5.000000  5.000000
mean   1135.902758 -0.006063
std     586.461954  0.003903
min     675.671629 -0.011821
25%     861.633683 -0.008088
50%     898.730871 -0.004232
75%    1092.404106 -0.004225
max    2151.073502 -0.001946

Train

In [ ]:
reg.fit(x_train, y_train)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

Test

In [ ]:
test = pd.read_csv('data/test.csv')

x_test = test[features].to_numpy()
y_test = test[target].to_numpy()

x_test = scaler.transform(x_test)

In [ ]:
y_pred = reg.predict(x_test)

mse = mean_squared_error(y_true=y_test, y_pred=y_pred)
r2 = r2_score(y_true=y_test, y_pred=y_pred)

In [ ]:
print(f'MSE: {mse},\nR2: {r2}.')

MSE: 9386.178146510701,
R2: -0.005946422324571543.